.table {
    width: 100%;

    .content {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;

        .add-button {
            display: flex;
            background-color: #951414;
            color: #f8f9fa;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            align-self: flex-end;

            &:hover {
                background-color: #7a1212;
            }
        }
    }
}

