 .card-content {
    display: flex;
    flex-direction: column;
    background-color: #f8f9fa;
    width: 100%;

    .loading-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
    }

    .content-item {
        display: flex;
        padding: 2% 2% 2% 2%;
        gap: 10%;
        align-items: center;
        
        .label {
            width: 20%;
        }
        .input-field {
            width: 80%;
        }
    }
}