@import '../../../styles/variables';

.table-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $spacing-4 $spacing-4;
    color: $color-text-primary;
    font-size: 0.875rem;
    line-height: 1.5;

    &.actions-cell {
        gap: 8px;
    }
}

.cell-icon {
    width: 18px;
    height: 18px;
    color: $color-text-secondary;
    @include transition(color);

    &:hover {
        color: $color-primary;
    }
}