@use '../../../styles/variables' as *;

.table-row {
    cursor: pointer;
    @include transition(background-color);
    background-color: $color-bg-paper;

    // Alternating row colors
    &:nth-child(even) {
        background-color: $color-gray-50;
    }

    &:focus {
        user-select: none;
        outline: 2px solid $color-primary-pale;
        outline-offset: -2px;
    }

    &:not(:last-child) {
        border-bottom: 1px solid $color-border-light;
    }

    &:hover {
        background-color: $color-primary-pale;
    }

    &:active {
        background-color: $color-primary-hover;
    }
}